body{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(35deg, #393eca, #8c68b9);
    background-image: url(./images/wave.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    height : 100vh;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    text-align : center;
}
.logo{
    max-width : 100%;
    height : auto;
    border-radius: 50%;
    box-shadow : 0 0 30px rgba(0,0,0,0.2);
}
.heading{
    font-size : 8rem;
    margin : 20px 0;
    color : rgb(124, 220, 235);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    width:0;
    overflow: hidden; /* Ensures the text is hidden initially */
    border-right: .15em solid orange;
    white-space: nowrap; /* Creates a 'cursor' effect */
    animation: 
        typing 3s steps(20) forwards,  /* Reduced time and steps */
        blink .75s steps(1) infinite;
    animation-iteration-count: 1, 4;
}
@keyframes typing {
            from { width: 0 }
            to { width: 60%;
                border-right-color: transparent ;  
             }
            }
        
@keyframes blink{
            from, to { border-color: transparent }
            50% { border-color: orange }
            }
.heading:hover{
    color : #21b6ec;
    transition : color 0.3s ease-in-out;
    text-shadow: 5px 5px 8px rgba(230, 221, 221, 0.5);
}            

.message{
    font-size : 2rem;
    color : white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom : 30px;
    max-width: 80%;
}
.message:hover{
    color : #ef0686;
    transition : color 0.3s ease-in-out;
    text-shadow: 1px 1px 2px rgba(230, 221, 221, 0.5);
}            

input[type="email"]{
    padding : 10px;
    font-size : 1.2rem;
    border : none;
    border-radius : 5px;
    margin-right : 10px;
    width : 250px;
    box-shadow : 0 0 10px rgba(0,0,0,0.1);
}
button{
    padding : 10px 20px;
    font-size : 1.2rem;
    border : none;
    border-radius : 5px;
    background-color : #2bd6df;
    color : white;
    cursor : pointer;
    box-shadow : 0 0 10px rgba(0,0,0,0.1);
}
button:hover{
    background-color : #ef52bb;
}
