body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    text-align: center;
    color: #f0f0f0;
}
.highlight {
    background-color: yellow;
    color: black;
}