.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:cursive;
    display: flex;      
    justify-content: center;
    align-items: center;    
    height: 100vh;
    background-color: lightgrey;
}