body{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.container{
    width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    box-shadow: 5px 10px #888888;
    font-family:  Verdana, sans-serif
}
.input-group{
    margin: 10px;
    text-align: left;
    padding-left: 20px;
}
.input-group label{
    display: block;
    margin-bottom: 5px;
}
.input-group input{
    height: 30px;
    width: 90%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.submit-group button{
    margin: 20px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    background-color:#afddaf ;}
.submit-group button:hover{
    background-color: #4CAF50;  
}

